<f:layout name="Default" />
<f:section name="content">

  <div class="row">
    <div class="alert alert-succes col-12" role="alert">
      <f:flashMessages/>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-12 col-sm-6 col-md-4 col-lg-4">
      <f:link.action action="list" class="btn btn-secondary w-100" id="new-offer">
      Zurück zur Übersicht
      </f:link.action>
    </div>
  </div>

  <f:form action="update" class="validate-form htw_form" arguments="{offer_id: result.OFFER_ID}">

    <h2>Titel:</h2>
    <div class="htw_field htw_field--input">
      <f:form.textfield
        type="text"
        value="{result.TITLE}"
        name="title"
        class="htw_field__item"
        required="required"
        maxlength="100"
      />
      <small class="text-muted">Max. 100 Zeichen</small>
    </div>

    <h2>Werbe-Text:</h2>
    <div class="htw_field htw_field--textarea">
      <f:form.textarea
        class="form-control htw_field__item"
        value="{result.AD_TEXT}"
        name="adtext"
        rows="10"
        additionalAttributes="{minlength: '50', maxlength: '700', required: 'required'}"
      />
      <small class="text-muted">Mind. 50 Zeichen, Max. 700 Zeichen</small>
    </div>

    <h2>Kategorien:</h2>
    <f:for each="{categories}" as="category" iteration="categoryIterator">
      <div class="htw_field htw_field--radio-checkbox">
        <f:form.checkbox
          name="category_{category.TITLE}"
          value="{category.OFFERS_CATEGORY_ID}"
          class="htw_field__item check-category"
          checked="{result.categories.{category.OFFERS_CATEGORY_ID}}"
          id="{category.TITLE}"
        />
        <label class="htw_field__label" for="{category.TITLE}">{category.TITLE}</label>
      </div>
    </f:for>

    <h2>Fakultäten:</h2>
    <!-- Faculty -->
    <div class="htw_field htw_field--radio-checkbox">
      <input
        type="checkbox"
        class="htw_field__item"
        id="check-all-faculties"
      />
      <label class="htw_field__label" for="check-all-faculties">Alle anwählen</label>
    </div>

    <f:for each="{faculties}" as="faculty" iteration="facultyIterator">
      <div class="htw_field htw_field--radio-checkbox">
        <f:form.checkbox
          name="faculty_{faculty.DTXT}"
          value="{facultyIterator.cycle}"
          class="htw_field__item check-faculty"
          checked="{result.faculties.0{facultyIterator.cycle}}"
          id="{faculty.DTXT}"
        />
        <label class="htw_field__label" for="{faculty.DTXT}">{faculty.DTXT}</label>
      </div>
    </f:for>

    <h2>Checkboxes:</h2>
    <div class="htw_field htw_field--radio-checkbox">
      <f:form.checkbox
        name="online"
        value="online"
        class="htw_field__item"
        checked="{result.ONLINE_COURSE} == 1"
        id="online"
      />
      <label class="htw_field__label" for="online">Online-Kurs?</label>
    </div>

    <div class="htw_field htw_field--radio-checkbox">
      <f:form.checkbox
        name="personal"
        value="personal"
        class="htw_field__item"
        checked="{result.PERSONAL_CONVERSATION} == 1"
        id="personal"
      />
      <label class="htw_field__label" for="personal">Persönliches Gespräch?</label>
    </div>

    <div class="htw_field htw_field--radio-checkbox">
      <f:form.checkbox
        name="workshop"
        value="workshop"
        class="htw_field__item"
        checked="{result.WORKSHOP} == 1"
        id="workshop"
      />
      <label class="htw_field__label" for="workshop">Workshop?</label>
    </div>

    <div class="htw_field htw_field--radio-checkbox">
      <f:form.checkbox
        name="tutorium"
        value="tutorium"
        class="htw_field__item"
        checked="{result.TUTORIUM} == 1"
        id="tutorium"
      />
      <label class="htw_field__label" for="tutorium">Tutorium?</label>
    </div>

    <div class="htw_field htw_field--radio-checkbox">
      <f:form.checkbox
        name="fees"
        value="fees"
        class="htw_field__item"
        checked="{result.FEE_REQUIRED} == 1"
        id="fees"
      />
      <label class="htw_field__label" for="fees">Gebührenbehaftet?</label>
    </div>

    <div class="htw_field htw_field--radio-checkbox">
      <f:form.checkbox
        name="credits"
        value="credits"
        class="htw_field__item"
        checked="{result.CREDITS_ACHIEVABLE} == 1"
        id="credits"
      />
      <label class="htw_field__label" for="credits">Gibt es Credits?</label>
    </div>

    <div class="htw_field htw_field--radio-checkbox">
      <f:form.checkbox
        name="external"
        value="external"
        class="htw_field__item"
        checked="{result.EXTERNAL_OFFER} == 1"
        id="external"
      />
      <label class="htw_field__label" for="external">Externes Angebot?</label>
    </div>

    <h2>Abschlüsse</h2>
    <div class="htw_field htw_field--radio-checkbox">
      <f:form.checkbox
        name="degree_bachelor"
        value="bachelor"
        class="htw_field__item  bachelor"
        id="bachelor"
        checked="{result.degrees.84}"
      />
      <label class="htw_field__label" for="bachelor">Bachelor</label>
    </div>
    <f:if condition="{result.degrees.84.SEMESTER_FROM}">
      <f:then>
        <div class="htw_field htw_field--input bachelor-slider">
          <label>Semester von bis</label>
          <f:form.textfield
            type="hidden"
            name="semester_bachelor"
            class="htw_field__item"
            readonly="readonly"
            value="1,6"
          />
          <div
            class="semester-slider"
            data-start="{result.degrees.84.SEMESTER_FROM}"
            data-end="{result.degrees.84.SEMESTER_TO}"
          ></div>
        </div>
      </f:then>
      <f:else>
        <div class="htw_field htw_field--input bachelor-slider">
          <label>Semester von bis</label>
          <f:form.textfield
            type="hidden"
            name="semester_bachelor"
            class="htw_field__item"
            readonly="readonly"
            value="1,6"
          />
          <div class="semester-slider" data-start="1" data-end="6"></div>
        </div>
      </f:else>
    </f:if>

    <div class="htw_field htw_field--radio-checkbox">
      <f:form.checkbox
        name="degree_diplom"
        value="diplom"
        class="htw_field__item diplom"
        id="diplom"
        checked="{result.degrees.51}"
      />
      <label class="htw_field__label" for="diplom">Diplom</label>
    </div>

    <f:if condition="{result.degrees.51.SEMESTER_FROM}">
      <f:then>
        <div class="htw_field htw_field--input diplom-slider">
          <label>Semester von bis</label>
          <f:form.textfield
            type="hidden"
            name="semester_diplom"
            class="htw_field__item"
            readonly="readonly"
            value="1,8"
          />
          <div
            class="semester-slider"
            data-start="{result.degrees.51.SEMESTER_FROM}"
            data-end="{result.degrees.51.SEMESTER_TO}"
          ></div>
        </div>
      </f:then>
      <f:else>
        <div class="htw_field htw_field--input diplom-slider">
          <label>Semester von bis</label>
          <f:form.textfield
            type="hidden"
            name="semester_diplom"
            class="htw_field__item"
            readonly="readonly"
            value="1,8"
          />
          <div class="semester-slider" data-start="1" data-end="8"></div>
        </div>
      </f:else>
    </f:if>

    <div class="htw_field htw_field--radio-checkbox">
      <f:form.checkbox
        name="degree_master"
        value="master"
        class="htw_field__item master"
        id="master"
        checked="{result.degrees.90}"
      />
      <label class="htw_field__label" for="master">Master</label>
    </div>

    <f:if condition="{result.degrees.90.SEMESTER_FROM}">
      <f:then>
        <div class="htw_field htw_field--input master-slider">
          <label>Semester von bis</label>
          <f:form.textfield
            type="hidden"
            name="semester_master"
            class="htw_field__item"
            readonly="readonly"
            value="1,4"
          />
          <div
            class="semester-slider"
            data-start="{result.degrees.90.SEMESTER_FROM}"
            data-end="{result.degrees.90.SEMESTER_TO}"
          ></div>
        </div>
      </f:then>
      <f:else>
        <div class="htw_field htw_field--input master-slider">
          <label>Semester von bis</label>
          <f:form.textfield
            type="hidden"
            name="semester_master"
            class="htw_field__item"
            readonly="readonly"
            value="1,4"
          />
          <div class="semester-slider" data-start="1" data-end="4"></div>
        </div>
      </f:else>
    </f:if>


    <h2>Gültigkeit:</h2>
    <div class="htw_field htw_field--radio-checkbox">
      <f:form.checkbox
        name="permanent"
        value="permanent"
        class="htw_field__item permanent"
        id="permanent"
        checked="{result.VISIBLE_TO}==2099-01-01"
      />
      <label class="htw_field__label" for="permanent">Dauerhaft</label>
    </div>

    <!-- VISIBLE_FROM - VISIBLE_TO -->
    <div class="htw_field htw_field--input visible">
      <label class="htw_field__label" for="visible_from">Von:</label>
      <f:form.textfield
        type="date"
        name="visible_from"
        class="htw_field__item"
        value="{result.VISIBLE_FROM}"
        id="visible_from"
        required="required"
      />
    </div>

    <div class="htw_field htw_field--input visible">
      <label class="htw_field__label" for="visible_to">Bis:</label>
      <f:form.textfield
        type="date"
        name="visible_to"
        class="htw_field__item"
        value="{result.VISIBLE_TO}"
        id="visible_to"
        required="required"
      />
    </div>
  
    <h2>Weblinks</h2>
    <div class="htw_field htw_field--input">
      <label class="htw_field__label" for="link_to_enrolement">Web-Link zur Einschreibung</label>
      <f:form.textfield
        type="url"
        name="link_to_enrolement"
        class="htw_field__item web-link"
        value="{result.LINK_TO_ENROLEMENT}"
        id="link_to_enrolement"
      />
      <small class="text-muted">Mind. 1 Link muss gesetzt sein.</small>
    </div>

    <div class="htw_field htw_field--input">
      <label class="htw_field__label" for="link_to_contact_person">Web-Link zum Ansprechpartner</label>
      <f:form.textfield
        type="url"
        name="link_to_contact_person"
        class="htw_field__item web-link"
        value="{result.LINK_TO_CONTACT_PERSON}"
        id="link_to_contact_person"
      />
      <small class="text-muted">Mind. 1 Link muss gesetzt sein.</small>
    </div>

    <div class="htw_field">
      <label class="htw_field__label" for="link_to_offer">Web-Link zum Angebot</label>
      <f:form.textfield
        type="url"
        name="link_to_offer"
        class="htw_field__item web-link"
        value="{result.LINK_TO_OFFER}"
        id="link_to_offer"
      />
      <small class="text-muted">Mind. 1 Link muss gesetzt sein.</small>
    </div>

    <div class="row justify-content-center">
      <div class="col-12 col-sm-12 col-md-12 col-lg-4">
        <button type="submit" class="btn btn-primary w-100 submit-form">Submit</button>
      </div>
    </div>

  </f:form>
</f:section>
