#tx-htwdd-studicockpit .hide-this {
 	display: none;
}

#tx-htwdd-studicockpit h2 {
	color: #026EB7;
	margin-top: 20px;
}

#tx-htwdd-studicockpit p {
 	margin: 0;
}

#tx-htwdd-studicockpit .semester-slider {
 	margin: 20px;
}

#tx-htwdd-studicockpit .text-bold {
  font-size: 1.2em;
	font-weight: 700;	
}

#tx-htwdd-studicockpit .btn-option {
	background-color: #57636b;
	border-color: #57636b;
	color: white;
}

#tx-htwdd-studicockpit .btn-option:hover {
	background-color: #40494f;
	border-color: #40494f;
}

#tx-htwdd-studicockpit .alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

#tx-htwdd-studicockpit .alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

#tx-htwdd-studicockpit ul{
  list-style: none;
  padding: 0;
}

#tx-htwdd-studicockpit .offer-footer-column{
	margin-bottom: 0;
}

#tx-htwdd-studicockpit .btn-hide {
	padding: 10px;
}

#tx-htwdd-studicockpit button.close {
	opacity: 1;
}

#tx-htwdd-studicockpit .text-muted {
  color: #6c757d !important;
}

#tx-htwdd-studicockpit .justify-content-center {
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
}

#tx-htwdd-studicockpit .card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

#tx-htwdd-studicockpit .card-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}

#tx-htwdd-studicockpit .card-title {
  margin-bottom: 0.75rem;
}

#tx-htwdd-studicockpit .card-link {
  text-decoration: underline;
  color: #2A3841;
}

#tx-htwdd-studicockpit .card-link:hover {
  font-weight: 700;
}

#tx-htwdd-studicockpit .card-footer {
  padding: 0.75rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

/* Salvattore */

#grid[data-columns]::before {
	content: '3 .column.size-1of3';
}

/* xs und sm */
@media screen and (max-width: 767.98px){
	#grid[data-columns]::before {
		content: '1 .column.size-1of1';
	}
}

/* md und lg */
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
	#grid[data-columns]::before {
		content: '2 .column.size-1of2';
	}
}

/* xl */
@media screen and (min-width: 1200px) {
	#grid[data-columns]::before {
		content: '3 .column.size-1of3';
	}
}

/* Again, you’re free to use and define the classes: */
.column { float: left; padding: .5rem; }
.size-1of1 { width: 100%; }
.size-1of2 { width: 50%; }
.size-1of3 { width: 33.333%; }